<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    var  dialog = {}
    dialog.DateChooser_setStateToAS = function () {
        var ele = document.createElement('div')
        ele.style.width = '500px';
        ele.style.height = '500px';
        ele.style.backgroundColor = '#000';
        ele.style.position = 'absolute';
        ele.style.zIndex = '999';
        ele.style.left = '50%';
        document.body.appendChild(ele)
    }
</script>
</body>
</html>