<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>middle--layout</title>
    <style>
        .container{
            display: flex;
            align-items: center; 		/* 垂直居中 */
            justify-content: center;
        }
        .container div {
            width: 100px;
            height: 100px;
            background-color: pink;		/* 方便看效果 */
        }
    </style>
</head>
<body>
    <div class="container">
        <div></div>
    </div>
    <script>
        console.log(["1", "2", "3"].map(parseInt))
        function normalize(arr) {
            if (arr && Array.isArray(arr)) {
                var i, len, map = {};
                for (i = arr.length; i >= 0; --i) {
                    if (arr[i] in map) {
                        arr.splice(i, 1);
                    } else {
                        console.log(map)
                        map[arr[i]] = true;
                    }
                }
            }
            return arr;
        }

        function unique(array) {
           var n = []
           array.map(function (item) {
               if(n.indexOf(item) === -1 && typeof item != 'object'){
                   n.push(item)
               }else if(typeof item === 'object'){
                  for(var key in item){

                  }
               }
           })
            console.log('n',n)
           return n
        }

        unique([{ a : 1}, { a : 1}, {b : 1}])

        function add()
        {
//            alert(this.a+this.b);
        }

        function sub(a,b)
        {
//            alert(a-b);
        }

        var obj = {
            a : 1,
            b : 1
        }

        add.call(obj)
        var twoSum = function(nums, target) {
            for (let i = 0;i<nums.length;i++) {
                for(let j = i+1;j<nums.length;j++){
                    if(nums[i]+nums[j] === target) {
                        return [i,j]
                    }
                }
            }
        }

        var mms = twoSum([3,2,4],6)
        console.log('mms',mms)

        function ToDayChinese() {
             var n = new Date().getDay(), str = '哈哈哈哈'
             switch (n){
                 case 1:
                 str = str + '一';
                 break;
                 case 2:
                 str = str + '二';
                     break;
                 case 3:
                 str = str + '三';
                     break;
                 case 4:
                 str = str + '四';
                     break;
                 case 5:
                 str = str + '五';
                     break;
                 case 6:
                     str = str + '六';
                     break;
                 default:
                     str = str + '7';
             }
             return str
        }
        console.log(ToDayChinese())
        
        function createArray(length) {
            let array = []
            if(typeof length === 'number' && length>0) {
                for(var i = 0 ; i< length ; i++){
                    array.push(Math.floor(Math.random(100)*100))
                }
            }
            return array
        }
        console.log(createArray(100))
        function  getWeekDay() {
           var arr = ['日','一','二','三','四','五','六']
           return arr[new Date().getDay()]
        }
        console.log(getWeekDay())
        var spliceArray = [0,2,3]
        spliceArray.splice(1,0,1)
        console.log('spliceArray',spliceArray)

        /**
         * slice(begin, end)
         * **/
        var sliceArrary = ['one', 'two', 'three', 'four']
        console.log('slice',sliceArrary.slice(0,3))
        console.log('slice',sliceArrary)
        
        function list() {
            return Array.prototype.slice.call(arguments)
        }
        console.log(list(1,2,3))

        var reduceArrary = ['prev', 'cur', 'next']
        reduceArrary.reduceRight(function (prev,cur,next, arr) {
                console.log('prev',prev)
                console.log('cur',cur)
                console.log('next',next)
                console.log('arr',arr)
        })

        // -----**-----
        var values = [0,1,2,3,4,5]
        console.log('Max-value',Math.max.apply(Math,values))
        console.log('Min-value',Math.min.apply(Math,values))

        // Math.ceil(number) 向上取整
        // Math.floor(number) 向下取整
        // Math.round(number) 四舍五入
        // Math.random() 返回0，1 之间的数字，不包含0,1
        // array filter
        var filerTest = ['a', 'abc', '', [], ['a1','a1bc','b1c'],[['a2b2','b2,c2']]]

        function filterCode (array , code , res) {
          array.map(function(item) {
            if(Object.prototype.toString.call(item) === '[object String]' && item.includes(code)){
               res.push(item)
            }else if(Object.prototype.toString.call(item) === '[object Array]') {
               filterCode(item,code, res)
            }
          })
          return res
        }

        var result = []
        filterCode(filerTest, 'a', result)
        console.log('result',result)


//        ---------


    </script>
</body>
</html>